{% extends 'student/Base.html' %}
{% load static %}

{% block title %}
PDF NOTES
{% endblock %}

{% block content %}

<!-- Code to stop go to dashboard without login -->
{% if not request.session.email %}
<script>
    alert("You have to login first. Press OK to go out");
    location.href = "/register/";
</script>
{% endif %}

<div class="row my-4">
    <div class="text-center fs-3">E-<b class="text-mc-red">Notes</b>
        <hr class="w-25 mx-auto">
        Your Digital Library : Access Essential Notes Anytime, Anywhere
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto shadow-lg p-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3 border-0 shadow-lg my-2">
                    <div class="row g-0">
                        {% for r in notes %}
                        <div class="col-md-4">
                            <img src="{% static 'images/pdf.jpeg' %}" class="img-fluid p-3" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ r.title }}</h5>
                                <p class="card-text">{{ r.notes_info }}</p>
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        <span class="fw-bold text-mc-red">
                                            <i class="fa-solid fa-calendar"></i> {{ r.posted_date }}
                                        </span>
                                    </small>
                                    <a href="/{{ r.notesfile }}" target="_blank"
                                        class="btn bg-mc-red float-end text-light mb-2"><i
                                            class="fa-solid fa-download"></i>Download</a>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}