{% extends 'student/Base.html' %}
{% load static %}

{% block title %}
ALL COMMON SOFTWARES
{% endblock %}

{% block content %}

<!-- Code to stop go to dashboard without login -->
{% if not request.session.email %}
<script>
    alert("You have to login first. Press OK to go out");
    location.href = "/register/";
</script>
{% endif %}

<div class="row my-4">
    <div class="text-center fs-3">All Common <b class="text-mc-red">Softwares</b>
        <hr class="w-25 mx-auto">
        Essential Tools Hub : Download and Access all required Software Effortlessly
    </div>
</div>
<div class="row">
    <div class="col-sm-10 mx-auto shadow-lg p-5">
        {% for r in so %}
        <div class="card mb-3 p-2 border-0 shadow-lg my-2">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/{{ r.thumbnail }}" class="img-fluid p-3" alt="Server Error"
                        style="height: 190px !important;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ r.title }}</h5>
                        <p class="card-text">
                            {{ r.software_info }}
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <span class="fw-bold text-mc-red">
                                    <i class="fa-solid fa-calendar"></i> Posted Date :
                                </span> {{ r.posted_date }}
                            </small>
                            <span class="btn bg-mc-red float-end text-light mb-2 p-1">
                                <a href="{{ r.download_link }}" target="_blank"
                                    style="text-decoration: none;color: white;">
                                    <i class="fa-solid fa-download"></i>Download
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}