{% extends 'Base.html' %}
{% load static %}

{% block title %}
ALL SERVICES
{% endblock %}

{% block content %}

<!-- Services Start -->
<div class="row pt-4 pb-5 mb-5">
    <p class="text-center fs-3 mb-4"> Our <b class="text-mc-red">Services</b></p>
    <div class="col-sm-10 mx-auto">
        <div class="row py-2">
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s3.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Expert-Led Online Courses
                            </span>
                            <br>
                            <span>
                                High-quality, on-demand courses created and delivered by industry
                                professionals and subject matter experts.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s6.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Personalized Learning Paths
                            </span>
                            <br>
                            <span>
                                Custom learning journeys based on your goals, skill level, and interests—
                                helping you stay focused and motivated.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s5.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Career Guidance & Mentorship
                            </span>
                            <br>
                            <span>
                                Access to career advice, resume reviews, and one-on-one mentorship to
                                help you transition into new roles or industries.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s2.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Quizzes & Projects
                            </span>
                            <br>
                            <span>
                                Hands-on practice through interactive quizzes, and capstone
                                projects that test real-world application.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s7.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Mobile Access
                            </span>
                            <br>
                            <span>
                                Learn on the go with our mobile-friendly platform, allowing you to access courses
                                anytime, anywhere.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s9.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Offline Access
                            </span>
                            <br>
                            <span>
                                Learn anytime, anywhere with mobile-friendly courses and downloadable
                                content for offline study.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s5.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Corporate Training Solutions
                            </span>
                            <br>
                            <span>
                                Customized learning solutions for teams and organizations, including
                                onboarding, upskilling, and performance tracking.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s8.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Community Support
                            </span>
                            <br>
                            <span>
                                Join a vibrant learner community, engage in discussions, share ideas, and
                                solve challenges together.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 my-3">
                <div class="card mx-auto shadow-lg border border-0" style="height: 150px;">
                    <div class="row g-0">
                        <div class="col-sm-3">
                            <img src="{% static 'images/s1.jpg' %}" alt="Server Error" class="img-fluid">
                        </div>
                        <div class="col-sm-9 ps-2 p-1">
                            <span class="fw-bold">
                                ✅ Progress Tracking & Analytics
                            </span>
                            <br>
                            <span>
                                Track your learning journey with intuitive dashboards and insights to
                                measure growth and achievement.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

{% endblock %}